/* ALL COMMON CSS START  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Jost", sans-serif;
}
a,
a:hover {
  text-decoration: none;
  display: inline-block;
}
ul,
ol {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}
/* ALL COMMON CSS END */

/* HEADER PART START  */
.nav-item a{
  margin: 0 15px;
  font-size: 14px;
  font-weight: 500;
  color: #222222;
  position: relative;
  transition: 0.6s;
}
.nav-item a:hover::after{
position: absolute;
content: "";
height: 2px;
width: 60%;
bottom: 0;
left: 10px;
background: #222222;
}
.menuIcon a{
  margin-left: 15px;
  color: #767676;
  transition: 0.6s;
}
.menuIcon a:hover{
scale: 1.2;
color: #222222;
}
/* HEADER PART END */

/* Banner PART START  */
.bannerBg{
  background: url(../images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
}
.bannerContent{
  padding-top: 275px;
}
.bannerContent h6{
  font-size: 14px;
  font-weight: 500;
  color: #C32929;
  position: relative; 
  margin-left: 55px;
}
.bannerContent h6::before {
    height: 2px;
    width: 40px;
    background: #C32929;
    top: 4px;
    left: -49px;
    content: "";
    position: absolute;
}
.bannerContent h1{
  font-size: 70px;
  font-weight: 400;
  color: #222222;
  line-height: 80px;
  padding: 25px 0;
  width: 810px;
}
.bannerContent a{
  font-size: 14px;
  font-weight: 500;
  color: #767676;
  position: relative;
  transition: 0.6s;
}
.bannerContent a:hover{
color: #222222;
}
.bannerContent a:hover::before {
    height: 2px;
    width: 95px;
    background: #222222;
    bottom: -7px;
    left: 0;
    content: "";
    position: absolute;
}
.bannerImg img{
  margin-left: 40px;
}
/* Banner PART END */

/* Collection PART START  */
#collectionPart{
  padding: 100px 0;
}
.colLeft{
  position: relative;
}
.collectionText {
    position: absolute;
    bottom: 40px;
    left: 30px;
}
.collectionText h6{
  font-size: 14px;
  font-weight: 400;
  color: #222222;
}
.collectionText h4{
  font-size: 26px;
  font-weight: 500;
  color: #222222;
  padding: 10px 0;
}
.collectionText a{
  font-size: 14px;
  font-weight: 500;
  color: #767676;
  position: relative;
  transition: 0.6s;
}
.collectionText a:hover{
  color: #222222;
}
.collectionText a:hover::before {
    height: 2px;
    width: 50px;
    background: #222222;
    bottom: -5px;
    left: 0px;
    content: "";
    position: absolute;
}
.collectionText p{
  font-size: 14px;
  font-weight: 400;
  color: #222222;
  line-height: 24px;
  padding: 10px 0;
  width: 213px;
}

/* Collection PART END */

/* Product PART START  */
#productPart{
  padding-bottom: 100px;
}
.commonTitle h3{
  font-size: 35px;
  font-weight: 500;
  color: #222222;
}
.productA a{
  font-size: 18px;
  font-weight: 500;
  color: #767676;
  padding-top: 40px;
  margin-left: 35px;
  transition: 0.6s;
  position: relative;
}
.productA a:hover{
  color: #222222;
}
.productA a:hover::before{
   height: 2px;
    width: 35px;
    background: #222222;
    bottom: 0;
    left: 0;
    content: "";
    position: absolute;
}
.pImg{
  transition: 0.6s;
  position: relative;
}
.pImg:hover{
  scale: 1.1;
}
.pText h6{
  font-size: 14px;
  font-weight: 500;
  color: #767676;
  padding-top: 10px;
}
.pText h4{
  font-size: 16px;
  font-weight: 400;
  color: #222222;
  padding: 10px 0;
}
.pText h5{
font-size: 16px;
  font-weight: 400;
  color: #222222;
}
.heart{
  position: absolute;
  bottom: 35px;
  right: 0;
  color: #767676;
}
.pEnd{
  padding-top: 50px;
}
.pEnd a{
  font-size: 14px;
  font-weight: 500;
  color: #767676;
  position: relative;
}
.pEnd a:hover{
  color: #222222;
}
.pEnd a:hover::after {
    height: 2px;
    width: 85px;
    background: #222222;
    bottom: -7px;
    left: 0px;
    content: "";
    position: absolute;
}

/* Product PART END */

/* Spring collection PART START  */
#sCollectionPart{
  padding-bottom: 100px;
}
.springBanner{
  background: url(../images/imageCoat.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 85px 0;
}
.scollectionText{
  padding-top: 190px;
}
.scollectionText h6{
  font-size: 14px;
  font-weight: 500;
  color: #C32929;
  position: relative; 
  margin-left: 55px;
}
.scollectionText h6::before {
    height: 2px;
    width: 40px;
    background: #C32929;
    top: 4px;
    left: -49px;
    content: "";
    position: absolute;
}
.scollectionText h1{
  font-size: 70px;
  font-weight: 400;
  color: #222222;
  line-height: 80px;
  padding: 25px 0;
  width: 810px;
}
.scollectionText a{
  font-size: 14px;
  font-weight: 500;
  color: #767676;
  position: relative;
  transition: 0.6s;
}
.scollectionText a:hover{
color: #222222;
}
.scollectionText a:hover::before {
    height: 2px;
    width: 45px;
    background: #222222;
    bottom: -7px;
    left: 0;
    content: "";
    position: absolute;
}
.countDown{
  padding-top: 110px;
}
.countOne h5{
  color: #222222;
  font-size: 28px;
  font-weight: 400;
  padding-bottom: 15px;
  border-right: 1px dotted #767676;
}
.countOne h6{
  color: #767676;
  font-size: 16px;
  font-weight: 600;
  
}
.noBorder h5{
  border: none !important;
}
/* Spring collection PART END */

/* Mask Banner PART START  */
#maskBanner{
  padding-bottom: 100px;
}
.maskImg{
  position: relative;
}
.maskText{
  position: absolute;
  bottom: 40px;
  left: 40px;
}
.maskText h6{  
  font-size: 18px;
  font-weight: 500;
  color: #222222;
}
.maskText h5{  
  font-size: 26px;
  font-weight: 500;
  color: #000000;
  padding: 15px 0;
}
.maskText a{
  font-size: 14px;
  font-weight: 500;
  color: #222222;
  position: relative;
  transition: 0.6s;
}
.maskText a::before {
    height: 2px;
    width: 45px;
    background: #222222;
    bottom: -7px;
    left: 0;
    content: "";
    position: absolute;
}


/* Mask Banner PART END */

/* HEADER PART START  */
/* HEADER PART END */

/* HEADER PART START  */
/* HEADER PART END */

/* HEADER PART START  */
/* HEADER PART END */
